<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.borrowme.user.UserRequestMapper">


<insert id="insert" parameterType="com.borrowme.user.dto.UserRequestDto" useGeneratedKeys="true" keyProperty="id">


INSERT INTO user_request(user_id,title,content,status)
 VALUES (#{userId},#{title},#{content},'PENDING')

</insert>

<select id="findById"  resultType="com.borrowme.user.dto.UserRequestDto">
	SELECT id,user_id,title,content,amount,status,admin_comment,created_at
    FROM user_request
    WHERE id = #{id}
</select>


<select id="findByUserId" resultType="com.borrowme.user.dto.UserRequestDto">
SELECT id,user_id,title,content,amount,status,admin_comment,created_at
FROM user_request
WHERE user_id = #{userId}
ORDER BY created_at DESC
</select>

<!--  -->
<update  id="update" parameterType="com.borrowme.user.dto.UserRequestDto">

  UPDATE user_request
  SET title = #{title},
  	  content = #{content}
  	WHERE id = #{id}

</update>

<delete id="deleteById">

DELETE FROM user_request
WHERE id = #{id}


</delete>

</mapper>